<div style="display: none; ">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, id: "flash_#{name}", class: "errors" if msg.is_a?(String) %>
  <%- end -%>
</div>

<div class="section">
  <h2>
    A simple checklist to make sure you're getting the leads you deserve.
  </h2>

  <div id="home_checklist" class="main_img">
    <ul id="incomplete_tasks" class="task_list">
      <ul class="tasks_for_date overdue_list">
        <li class="date_heading"><%= "Overdue from #{(1.day.ago).strftime("%a, %b %-d")}" %></li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Send a birthday card to <%= link_to "Mrs. Fern Altenwerth", "#new_user" %>
          </p>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
  
      <ul class="tasks_for_date">
        <li class="date_heading">Today</li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Send a birthday card to <%= link_to "Sidney Christiansen", "#new_user" %>
          </p>
          <div class="clear"></div>
        </li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Mail <%= link_to "Koby Hamill", "#new_user" %> a home evaluation
          </p>
          <div class="clear"></div>
        </li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Mail <%= link_to "Dr. Bradley Stokes", "#new_user" %> a home evaluation
          </p>
          <div class="clear"></div>
        </li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Send a birthday card to <%= link_to "Ramona Ankunding", "#new_user" %>
          </p>
          <div class="clear"></div>
        </li>
        <li class="task">
          <%= check_box_tag "checkbox", true, false, class: "task_checkbox" %>
          <p class="content">
            Send a birthday card to <%= link_to "Oswald Bernier", "#new_user" %>
          </p>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
    
      <ul class="tasks_for_date">
        <li><%= link_to "Add Another Task", "#new_user", class: "small_link" %></li>
      </ul>
    </ul>
    
    <div id="completed_tasks_wrapper">
      <hr />
      <h4>Completed Tasks</h4>
      <ul id="complete_tasks" class="task_list">
        <li class="task complete">
          <%= check_box_tag "checkbox", true, true, class: "task_checkbox" %>
          <p class="content">
            Mail <%= link_to "Eulalia Mitchell", "#new_user" %> a home evaluation
          </p>
          <div class="clear"></div>
        </li>
        <li class="task complete">
          <%= check_box_tag "checkbox", true, true, class: "task_checkbox" %>
          <p class="content">
            Send a birthday card to <%= link_to "Bonnie Mitchell DVM", "#new_user" %>
          </p>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    
  </div>
</div>

<!--
<div class="section">
  <h2>
    Here's a 3 minute video showing you how to customize your own followup system:
  </h2>

  <img class="main_img" />
</div>-->


<div class="section">
  <h2>
    Start your free 30 day trial here:
  </h2>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.label :password, "Password (6 characters or more)" %><br />
      <%= f.password_field :password, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.label :time_zone %><br />
      <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone.all.map { |t| [t, t.tzinfo.name] }), {}, class: "full_width" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "big green button full_width" %>
    </div>
  <% end %>
</div>