<h1>What has your business been missing?</h1>

End Result Customer Wants + Specific Period Of Time + Address The Objections
With you

Would anyone say the opposite? If no, you're not saying anything. 

Make save, do ______ In 3 months, without ________

1. Establish necessity of follow up. 
2. Show the costs associated. 
3. Say how touchbase helps. 

Follow ups are a cinch with touchbasenow.

After using touchbase, you won't know how you lived without it. Your customers will notice too. 

Staying in touch with your sphere of influence is your most important tool.

Sending personal notes, birthday cards is the best way to earn your referrals. 

Touchbase is for the one man show (aka self employed) businesses that know they must stay in touch with their contacts. 

If you're already following up with clients, you're probably spending hours a week. 


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone.all.map { |t| [t, t.tzinfo.name] }), default: "Atlantic Time (US & Canada)" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "blue button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
