<%= link_to "&larr; #{@prev.strftime("%a, %b %d")}".html_safe, tasks_path(start: @prev.strftime("%m-%d-%y")), class: "left" %>
<%= link_to "#{@next.strftime("%a, %b %d")} &rarr;".html_safe, tasks_path(start: @next.strftime("%m-%d-%y")), class: "right" %>

<div class="clear"></div>

<h1>Tasks</h1>

<h2 style="text-align: center;"><%= @date %></h2>

<ul id="incomplete_tasks" class="task_list">
  <%= render @tasks.incomplete %>
</ul>

<h3>Complete</h3>
<ul id="complete_tasks" class="task_list">
  <%= render @tasks.complete %>
</ul>