<p id="notice"><%= notice %></p>

<p>
  <strong>Website:</strong>
  <%= @websiteship.website %>
</p>

<p>
  <strong>User:</strong>
  <%= @websiteship.user %>
</p>

<%= link_to 'Edit', edit_websiteship_path(@websiteship) %> |
<%= link_to 'Back', websiteships_path %>
