<div id="snapshots"></div>
<div id="widget_home">
	<ul>
		<li>
			<%= link_to "<i class=\"icon-plus\"></i>".html_safe, new_website_page_url(@website, subdomain: "www") %>
			<p class="hint">
				Click to add a page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-cog\"></i>".html_safe, edit_website_page_url(@website, @page, subdomain: "www") %>
			<p class="hint">
				Click to edit this page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-sitemap\"></i>".html_safe, website_pages_url(@website, subdomain: "www") %>
			<p class="hint">
				Click to visit site map
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-reply\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Undo" } %>
			<p class="hint">
				Click to Undo
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-forward\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Redo" } %>
			<p class="hint">
				Click Redo
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li>
			<div class="draggable" data-type="unsure">
				<i class="icon-font"></i>
			</div>
			<p class="hint">
				Drag to add a headline
			</p>
		</li>
		
		<li>
			<div class="draggable" data-type="picture">
				<i class="icon-picture"></i>
			</div>
			<p class="hint">
				Drag to add a picture
			</p>
		</li>
		
		<li>
			<div class="draggable" data-type="ul">
				<i class="icon-list-ul"></i>
			</div>
			<p class="hint">
				Drag to add a list
			</p>
		</li>
		
		<li>
			<div class="draggable" data-type="events">
				<i class="icon-calendar"></i>
			</div>
			<p class="hint">
				Drag to add an event widget
			</p>
		</li>
		
		<li>
			<div class="draggable" data-type="media">
				<i class="icon-film"></i>
			</div>
			<p class="hint">
				Drag to add media
			</p>
		</li>
		
		<li>
			<div class="draggable" data-type="social">
				<i class="icon-twitter"></i>
			</div>
			<p class="hint">
				Drag to add social icons
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-bold\"></i>".html_safe, "#", data: { action: "Bold" } %>
			<p class="hint">
				Click to bold
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-italic\"></i>".html_safe, "#", data: { action: "Italic" } %>
			<p class="hint">
				Click to italicize
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-underline\"></i>".html_safe, "#", data: { action: "Underline" } %>
			<p class="hint">
				Click to underline
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-link\"></i>".html_safe, "#" %>
			<p class="hint">
				Click to link selection to a page
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li class="code_editor_tool">
			<%= link_to "<i class=\"icon-code\"></i>".html_safe, "#", class: "edit_layout_file" %>
			<p class="hint">
				Click to edit this page's layout file
			</p>
		</li>
	</ul>
</div>

<div id="templates">
	<div class="picture">
		<div class="img_wrapper">
			<img src="/themes/shared/logo.png">
		</div>
	</div>
	
	<div class="ol">
		<ol class="ordered_list">
			<li>A numbered list</li>
		</ol>
	</div>
	
	<div class="ul">
		<ul class="unordered_list">
			<li>An unordered list</li>
		</ul>
	</div>
	
	<div class="events">
		<p>CALENDAR</p>
	</div>
	
	<div class="media">
		<p><i class="icon-film"></i></p>
	</div>
	
	<div class="blockquote">
		<blockquote>What a fantastic quote!</blockquote>
	</div>
	
	<div class="social">
		<p>I am social.</p>
	</div>
	
	<div class="map">
		<div class="img_wrapper">
			<img src="/themes/shared/logo.png">
		</div>
	</div>
</div>

<%= form_for [@website, @page.layout], remote: true do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Save", class: "save_edit_document" %>
<% end %>