<div id="settings">
	<% @page_for_form = @page %>
	<%= render "pages/form" %>
	<% @page_for_form = Page.new %>
	<%= render "pages/form" %>
</div>

<div id="snapshots"></div>

<div class="draggable_menu" data-type="headline">
	<div class="overlay"></div>
	<ul class="options">
		<li class="">Drag element where you want it:</li>
		<li id="sample_h3" data-type="h3" class="option">Heading</li>
		<li id="sample_h4" data-type="h4" class="option">Subheading</li>
		<li id="sample_p" data-type="p" class="option">Paragraph</li>
		<li id="sample_blockquote" data-type="blockquote" class="option">Quotation</li>
	</ul>
</div>

<div id="widget_home">
	<ul>
		<li>
			<%= link_to "<i class=\"icon-plus\"></i>".html_safe, "#", class: "show_new_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to add a page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-cog\"></i>".html_safe, "#", class: "show_edit_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to edit this page
			</p>
		</li>
		
		<li>
				<%= link_to "<i class=\"icon-sitemap\"></i>".html_safe, website_pages_url(@website, subdomain: "www") %>
				<p class="hint">
					Click to visit site map
				</p>
			</li>
		
		<li class="separator"></li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-reply\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Undo" } %>
			<p class="hint">
				Click to Undo
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-forward\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Redo" } %>
			<p class="hint">
				Click Redo
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="headline" data-no-turbolink="true">
				<i class="icon-font"></i>
			</a>
			<p class="hint">
				Add a headline
			</p>
		</li>
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="picture">
				<i class="icon-picture"></i>
			</a>
			<p class="hint">
				Add a picture
			</p>
		</li>
		
		
		<li>
					<a href="#" class="show_draggable_menu" data-type="events">
						<i class="icon-calendar"></i>
					</a>
					<p class="hint">
						Add an event widget
					</p>
				</li>
		
		
		
		<li>
					<a href="#" class="show_draggable_menu" data-type="media">
						<i class="icon-film"></i>
					</a>
					<p class="hint">
						Add media
					</p>
				</li>
		
		
		
		<li>
					<a href="#" class="show_draggable_menu" data-type="social">
						<i class="icon-twitter"></i>
					</a>
					<p class="hint">
						Add social icons
					</p>
				</li>
		
		
		
		<li>
					<a href="#" class="show_draggable_menu" data-type="money">
						<i class="icon-tasks"></i>
					</a>
					<p class="hint">
						Add a form
					</p>
				</li>
		
		
		
		<li>
					<a href="#" class="show_draggable_menu" data-type="money">
						<i class="icon-money"></i>
					</a>
					<p class="hint">
						Add giving widget
					</p>
				</li>
		
		
		<li class="separator"></li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-bold\"></i>".html_safe, "#", data: { action: "Bold" } %>
			<p class="hint">
				Click to bold
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-italic\"></i>".html_safe, "#", data: { action: "Italic" } %>
			<p class="hint">
				Click to italicize
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-underline\"></i>".html_safe, "#", data: { action: "Underline" } %>
			<p class="hint">
				Click to underline
			</p>
		</li>
		
		
		<li class="text_editor_tool">
					<%= link_to "<i class=\"icon-link\"></i>".html_safe, "#" %>
					<p class="hint">
						Click to link selection to a page
					</p>
				</li>
		
		
		<li class="separator"></li>
		
		<li class="code_editor_tool">
			<%= link_to "<i class=\"icon-code\"></i>".html_safe, "#", class: "edit_layout_file" %>
			<p class="hint">
				Click to edit this page's layout file
			</p>
		</li>
	</ul>
</div>

<div id="templates">
	<div class="picture">
		<div class="img_wrapper">
			<img src="/themes/shared/miniban.png">
		</div>
	</div>
	
	<div class="ol">
		<ol class="ordered_list">
			<li>A numbered list</li>
		</ol>
	</div>
	
	<div class="ul">
		<ul class="unordered_list">
			<li>An unordered list</li>
		</ul>
	</div>
	
	<div class="events">
		<p>CALENDAR</p>
	</div>
	
	<div class="media">
		<div class="media_wrapper">
			<div class="widget_header">
				<h2>Media Gallery</h2>
			</div>
			<div class="widget_content">
				<div class="video"></div>
				<ul class="playlist">
					<li>
						<a href="#">
							<span class="title">Exceeding God</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
					<li>
						<a href="#" class="playing">
							<span class="title">Back to School</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
					<li>
						<a href="#">
							<span class="title">Decisions, Decisions, Decisions.</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
					<li>
						<a href="#">
							<span class="title">Heaven</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
					<li>
						<a href="#">
							<span class="title">The Field</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
					<li>
						<a href="#">
							<span class="title">Eternity 101</span>
							<span class="date">Wed, Sept 5, 2013</span>
						</a>
          </li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<div class="blockquote">
		<blockquote>What a fantastic quote!</blockquote>
	</div>
	
	<div class="headline">
		<h4>Headline</h4>
	</div>
	
	<div class="social">
		<div class="social_wrapper">
			<img src="/themes/shared/social.png">
		</div>
		
	</div>
	
	<div class="money">
		<div class="img_wrapper">
			<img src="/themes/shared/miniban.png">
		</div>
	</div>
	
	<div class="map">
		<div class="img_wrapper">
			<img src="/themes/shared/map.png">
		</div>
	</div>
</div>

<%= form_for [@website, @page.layout], remote: true do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Save", class: "save_edit_document" %>
<% end %>