<%= form_for [@website, @page_for_form] do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= root_url(subdomain: @website.permalink) %><%= f.text_field :permalink %>
  </div>
  <div class="field">
    <%= f.label :document_id, "Layout" %><br>
    <%= f.collection_select :document_id, @website.documents.html, :id, :filename %>
  </div>
  <div class="actions">
    <%= f.submit "Save Page" %>
		
		<% unless @page_for_form.new_record? %>
			<%= link_to "Delete", website_page_path(@website, @page_for_form), method: :delete, data: { confirm: "Are you sure you want to delete this page?" } %>
		<% end %>
  </div>
<% end %>
