<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Permalink</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.permalink %></td>
        <td><%= link_to 'Show', public_page_url(page.permalink, subdomain: @website.permalink) %></td>
        <td><%= link_to 'Edit', edit_website_page_path(@website, page) %></td>
        <td><%= link_to 'Destroy', website_page_path(@website, page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_website_page_path(@website) %>
