<%= form_for(@contact) do |f| %>
  <%= f.hidden_field :overwrite, value: true %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <% @fields.each do |field| %>
    <div class="field">
      <%= label_tag field.title %>
      <%= text_field_tag field.title, @contact.try(:data).try(field.permalink), name: "contact[data][#{field.permalink}]" %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
