<div id="sidebar">
  <%= link_to "Add Contacts", new_contact_path, class: "blue button full_width center" %>
  <%= link_to "Manage Fields", fields_path, class: "small_link block center" %>
  
  <p id="contact_counter">
    <span class="contacts_search_count"><%= current_user.contacts_count %></span> / <span class="contacts_count"><%= pluralize current_user.contacts_count, "Contact" %></span>
  </p>
  
  <%= form_tag contacts_path(format: :js), method: :get, id: "contacts_search" do %>
    <%= text_field_tag :q, "", placeholder: "Search...", class: "search_field" %>
    
    <div class="advanced">
      <div class="filter_field inactive">
        <%= check_box_tag "name", "name", false, { class: "filter_checkbox" } %>
        <%= label_tag "name", "Name" %>
  
        <div class="details">
          <%= text_field_tag "name", "", class: "search_field", data: { matcher: :like } %>
        </div>
      </div>
    
      <%= render @fields.order(:title) %>
    </div>
    
    <% submit_tag "Search", class: "blue button full_width", style: "margin-top: 20px; " %>
    <%= link_to "Advanced Search", "#", class: "show_advanced small_link right"%>
  <% end %>
</div>