<div id="sidebar">
  <%= form_tag contacts_path(format: :js), method: :get, id: "contacts_search" do %>
    <% text_field_tag :q, "", placeholder: "Search..." %>
    
    <div class="field inactive">
      <%= check_box_tag "name", "name", false, { class: "filter_checkbox" } %>
      <%= label_tag "name", "Name" %>
  
      <div class="details">
        <%= text_field_tag "name", "", class: "search_field", data: { matcher: :like } %>
      </div>
    </div>
    
    <%= render @fields.order(:title) %>
  <% end %>
  
  <p>
    <span class="contacts_search_count"><%= current_user.contacts_count %></span> / <span class="contacts_count"><%= pluralize current_user.contacts_count, "Contact" %></span>
  </p>
  
  <%= link_to "Pending (<span class=\"pending_count\">#{current_user.contacts.pending.count}</span>)".html_safe, pending_path if @pending.any? %><br>
  <%= link_to "Fields", fields_path %><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</div>