<h1>Editing contact</h1>

<%= form_for(@contact) do |f| %>
  <%= f.hidden_field :overwrite, value: true %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <% @fields.each do |field| %>
    <div class="field">
      <%= label_tag field.title %><br>
      <%= text_field_tag field.title, @contact.d[field.permalink], name: "contact[data][#{field.permalink}]" %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
