<h2 class="mobile_only">Contacts</h2>

<%= render "has_pending" if @pending_count > 0 %>
<%= render "is_importing" if current_user.has_pending_import? && current_user.import_progress != 100 %>

<div class="section" style="margin: 10px 0; ">
  <%= link_to "<span class=\"text\">Filter My Contacts</span> &nbsp;<i class=\"icon-cog\"></i>".html_safe, "#", class: "show_contacts_filters small green button" %>
  <%= render "filters" %>
  <!--<%= link_to "Bulk Edit &nbsp;<i class=\"icon-building\"></i>".html_safe, "#", class: "small green button" %>-->
  
  <%= link_to "Add Contacts", new_contact_path, class: "cancel" %>
</div>

<table id="contacts" class="beautiful_table" data-order="name" data-direction="asc" data-data_type="string">
  <thead>
    <tr>
      <th data-permalink="name" data-data_type="string">Name</th>
      <% @fields.each do |field| %>
        <th style="<%= "text-align: center; " if field.data_type == "boolean" %>" data-permalink="<%= field.permalink %>" data-data_type="<%= field.data_type %>"><%= field.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render @contacts %>
  </tbody>
</table>

<%= will_paginate @contacts, previous_label: h("<"), next_label: h(">") %>