<% if @user && @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<%= form_for @user, url: contacts_path, method: :post do |f| %>
  
  <%= f.label :file, "You can either upload a file of your contacts (CSV, Microsoft Excel):" %><br>
  <%= f.file_field :file %>

  <hr />

  <%= f.label :blob, "Or you can manually upload:" %><br>
  <p>
    eg.<br>
    Name, Email, Hobbies<br>
    Dallas Read, dallas@touchbasenow.com, Futbol
  </p>
  
  <%= f.text_area :blob %>
  
  <hr />
  
  <%= f.hidden_field :overwrite, value: false %>
  <%= f.hidden_field :step, value: 2 if current_user.step == 1 %>
  
  <%= f.submit "Add Contacts" %>

<% end %>