<% if @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<% if @contact.errors.any? %>
  <p class="errors">
    <%= @contact.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<% if current_user.has_deletable_pending_import? %>

  <p>
    You have a pending upload. Your can <%= link_to "move to your next step", fields_path %> or
    <%= link_to "delete it", multicreate_contacts_path(delete_pending: true), method: :post %>.
  </p>

<% elsif current_user.has_pending_import? %>

  <p>
    We're currently working on your last upload. Give us a few minutes and you'll be able to add more!
  </p>
  
<% else %>

  <p>
    <strong>How would you like to add contacts?</strong>
  </p>
  
  <ul id="contact_format_chooser">
    <% [
        ["Upload a file", "upload", (params[:contacts_format].blank? || params[:contacts_format] == "upload" ? true : false)],
        ["Copy and Paste", "paste", params[:contacts_format] == "paste" ? true : false],
        ["Manually Add 1 Contact", "one", params[:contacts_format] == "one" ? true : false]
       ].each do |title, value, checked| %>
       <% unless value == "one" && current_user.step < 4 %>
        <li>
          <%= radio_button_tag :contacts_format, value, checked, class: "show_contacts_format" %>
          <%= label_tag "contacts_format_#{value}".to_sym, title %>
        </li>
      <% end %>
    <% end %>
  </ul>
  
  <hr />
  
  <%= render "form" %>
  <%= render "form_upload" %>
  <%= render "form_paste" %>

<% end %>