<% if @user && @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<% if current_user.has_deletable_pending_import? %>

  <p>
    You have a pending upload. Your can <%= link_to "move to your next step", fields_path %> or
    <%= link_to "delete it", contacts_path(delete_pending: true), method: :post %>.
  </p>

<% else %>

  <%= form_for @user, url: contacts_path, method: :post do |f| %>

    <div class="field">
      <%= f.label :file, "You can either upload a file of your contacts (CSV, Microsoft Excel):" %><br>
      <%= f.file_field :file %>
    </div>

    <hr />
    
    <div class="field">
      <%= f.label :blob, "Or you can manually upload:" %><br>
      
      <p style="margin: 10px 0 20px 0; border: 1px solid #ccc; background: #ddd; border-radius: 3px; padding: 8px; color: #777; line-height: 18px; font-size: 12px; ">
        For example:<br>
        Name, Email, Hobbies<br>
        Dallas Read, dallas@touchbasenow.com, Futbol
      </p>

      <%= f.text_area :blob, class: "full_width", rows: 4 %>
    </div>

    <hr />

    <%= f.hidden_field :overwrite, value: false %>

    <%= f.submit "Add Contacts", class: "blue button" %>

  <% end %>

<% end %>