<% if @user && @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<%= form_for current_user, url: contacts_path, method: :post do |f| %>
  
  <%= f.label :file, "You can either upload a file of your contacts (CSV, Microsoft Excel):" %><br>
  <%= f.file_field :file %>

  <hr />

  <%= f.label :blob, "Or you can manually upload:" %><br>
  <p>
    eg.<br>
    Name, Email, Hobbies<br>
    Dallas Read, dallas@touchbasenow.com, Futbol
  </p>
  
  <% if @no_header_for_blob %>
    <div class="errors">
      Please add a header row so we know how to save your data (eg. "Name, Email, Address").
    </div>
  <% end %>
  
  <%= f.text_area :blob %>
  
  <hr />
  
  <%= f.check_box :overwrite %>
  <%= f.label :overwrite, "Overwrite existing contacts." %>
  
  <hr />
  
  <%= f.submit "Add Contacts" %>

<% end %>