<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %> <%= "(Pending)" if @contact.pending? %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.data["email"] %>
</p>

<p>
  <strong>Details:</strong>
  <%= @contact.data %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @contact.pending_data %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
