<%= link_to "&larr; Back".html_safe, :back, class: "small_link back" %>

<h1><%= @contact.name %> <%= "(Pending)" if @contact.pending? %></h1>

<div class="center" style="margin-top: 10px; ">
  <%= link_to 'Edit', edit_contact_path(@contact), class: "cancel", style: "margin-left: 0; " %>
  <%= link_to "Delete", @contact, method: :delete, data: { confirm: "Are you sure you want to delete this contact?" }, class: "delete" %>
</div>

<table id="contact_show">
  
  <% current_user.fields.each do |field| %>
    <tr>
      <td class="label">
        <%= field.title %>:
      </td>
      <td class="detail">
        <% if field.data_type == "datetime" %>
          <%= @contact.d[field.permalink].in_time_zone.strftime("%B %-d, %Y") unless @contact.d[field.permalink].blank? %>
        <% elsif field.data_type == "boolean" %>
          <% if @contact.d[field.permalink] == "true" %>
            <i class="icon-ok"></i>
          <% else %>
            <i class="icon-remove"></i>
          <% end %>
        <% else %>
          <%= @contact.d[field.permalink].to_s %>
        <% end %>
      </td>
    </tr>
  <% end %>
  
  <tr>
    <td class="label">
      Subscribed:
    </td>
    <td class="detail">
      <%= @contact.emailable ? "<i class=\"icon-ok\"></i>".html_safe : "<i class=\"icon-remove\"></i>".html_safe %>
    </td>
  </tr>
  
</table>

<div class="clear"></div>

<hr />

<h4>Notes</h4>

<table id="notes">
  <%= render @contact.notes %>
  <tfoot>
    <tr>
      <td colspan="2">
        <%= render "notes/form" %>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top: 10px; ">
        <%= link_to "Add A Note", "#", class: "show_new_note small_link" %>
      </td>
    </tr>
  </tfoot>
</table>

<div class="clear"></div>

<hr />

<ul id="incomplete_tasks" class="task_list">
  <ul class="tasks_for_date overdue_list">
    <li class="date_heading">Upcoming Tasks</li>
  </ul>
  <%= render @tasks.incomplete.order("tasks.date asc") %>
  <div class="clear"></div>
</ul>

<div id="completed_tasks_wrapper" style="<%= "display: none; " if @tasks.complete.empty? %>">
  <hr />
  <h4>Completed Tasks</h4>
  <ul id="complete_tasks" class="task_list">
    <%= render @tasks.complete.order("tasks.date desc") %>
  </ul>
  <div class="clear"></div>
</div>