<%= form_for(@followup) do |f| %>
  <% if @followup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followup.errors.count, "error") %> prohibited this followup from being saved:</h2>

      <ul>
      <% @followup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :offset %>

  <div class="field">
    <%= f.label :description, "What action will you need to take? <span style=\"color: #aaa; font-size: 13px; \">eg. Say Hi to {{contact.name}}</span>".html_safe %><br>
    <%= f.text_field :description, class: "full_width" %>
  </div>
  
  <div class="field">
    <%= label_tag :who, "Who do you need to follow up with?" %><br>
    <%= select_tag :who, options_for_select([["Everyone", "everyone"], ["Filter my contacts...", "filter"]]), class: "full_width" %>
    
    <div class="filter_options">
      <table id="filters_container"></table>
      <%= link_to "+ Add Another Filter", "#", class: "add_filter small_link" %>
    </div>
  </div>
  
  <%= render "filterpicker" %>
  
  <div class="field">
    <%= label_tag :offset_word, "When will you take action?" %><br>
    <%= text_field_tag :offset_amount, "", placeholder: "23", style: "width: 50px; text-align: center; ", class: "offset_field offset_toggle offset_every offset_before offset_after" %>
    <%= select_tag :offset_unit, options_for_select([["Days", "day"], ["Weeks", "week"], ["Months", "month"]], @followup.offset_word), class: "offset_field offset_toggle offset_every offset_before offset_after" %>
    <%= select_tag :offset_word, options_for_select([["Every", "every"], ["On", "on"], ["Before", "before"], ["After", "after"]]), class: "offset_field" %> 
    <%= f.hidden_field :field_id %>
    <%= select_tag :fake_field_id, options_for_select(current_user.fields.where(data_type: "datetime").map{ |f| [f.title, f.id] }, @followup.field_id), class: "offset_field offset_toggle offset_on offset_before offset_after" %>
    <%= f.hidden_field :recurrence %>
  </div>
  
  <div class="field offset_toggle offset_every">
    <%= label_tag :start, "When should this start?" %><br>
    <%= select_tag :start, options_for_select([["Now", ""]] + current_user.fields.where(data_type: "datetime").map{ |f| ["On their #{f.title}", f.id] }, @followup.field_id), class: "offset_field" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save Followup", class: "blue button" %>
    <%= link_to "Cancel", followups_path, class: "cancel" %>
    
    <% unless @followup.new_record? %>
      <%= link_to "Delete", @followup, method: :delete, data: { confirm: "This will remove all future and uncompleted tasks linked with this followup. Are you sure you want to delete this followup?" }, class: "delete" %>
    <% end %>
  </div>
<% end %>