<%= form_for(@followup) do |f| %>
  <% if @followup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followup.errors.count, "error") %> prohibited this followup from being saved:</h2>

      <ul>
      <% @followup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :offset %>

  <div class="field">
    <%= f.label :description, "What action will you need to take? <span style=\"color: #aaa; font-size: 13px; \">eg. Say Hi to {{name}}</span>".html_safe %><br>
    <%= f.text_field :description, class: "full_width" %>
  </div>
  
  <div class="field">
    <%= label_tag :offset_word, "When will you take action?" %><br>
    <%= text_field_tag :offset_amount, "", placeholder: "23", style: "width: 50px; text-align: center; ", class: "offset_field" %>
    <%= select_tag :offset_unit, options_for_select([["Days", "day"], ["Weeks", "week"], ["Months", "month"]], @followup.offset_word), class: "offset_field" %>
    <%= select_tag :offset_word, options_for_select([["On", "on"], ["Before", "before"], ["After", "after"], ["Every", "every"]], @followup.offset_word), class: "offset_field" %> 
    <%= f.collection_select :field_id, current_user.fields.where(data_type: "datetime"), :id, :title, class: "offset_field" %>
    <%= f.hidden_field :recurrence %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save Followup", class: "blue button" %>
    <%= link_to "Cancel", followups_path, class: "cancel" %>
    
    <% unless @followup.new_record? %>
      <%= link_to "Delete", @followup, method: :delete, data: { confirm: "This will remove all future and uncompleted tasks linked with this followup. Are you sure you want to delete this followup?" }, class: "delete" %>
    <% end %>
  </div>
<% end %>