<h1>Listing followups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Criteria</th>
      <th>Description</th>
      <th>Date</th>
      <th>Date offset</th>
      <th>Recurring</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @followups.each do |followup| %>
      <tr>
        <td><%= followup.user %></td>
        <td><%= followup.criteria %></td>
        <td><%= followup.description %></td>
        <td><%= followup.date %></td>
        <td><%= followup.date_offset %></td>
        <td><%= followup.recurring %></td>
        <td><%= link_to 'Show', followup %></td>
        <td><%= link_to 'Edit', edit_followup_path(followup) %></td>
        <td><%= link_to 'Destroy', followup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Followup', new_followup_path %>
