<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @email.user %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @email.criteria %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Plain:</strong>
  <%= @email.plain %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
