<%= render "sidebar" %>

<% if @user && @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<h2>Fields</h2>

<% if current_user.has_pending_import? %>
  <p class="notice">
    <strong>Almost Done!</strong><br>
    Please confirm the fields you'd like to use, click "Save Fields and Continue to Upload File", and we'll start importing your contacts.
  </p>
<% else %>
  <p class="info">
    Fields are pieces of information about your contacts.<br>
    <span class="small_link">For example: Email, Address, Phone Number, Car, Goals, Awards</span>
  </p>
<% end %>

<%= form_for current_user, url: fields_path do |f| %>
  <table id="fields">
    <thead>
      <th style="width: 60%; ">Title</th>
      <th>Data Type</th>
      <th></th>
    </thead>
  
    <tbody>
    	<%= f.fields_for :fields do |builder| %>
        <%= render "edit_fields", f: builder %>
      <% end %>
    </tbody>
    
    <tfoot>
      <td></td>
      <td class="center"><%= link_to_add_fields "Add Field", f, :fields %></td>
      <td></td>
    </tfoot>
  </table>
  
  <%= f.hidden_field :upload, value: true %>
  
  <br><br>
  
  <%= f.submit "Save Fields#{" and Continue to Upload File" if current_user.has_pending_import?}", class: "big green button" %>

<% end %>