<%= render "sidebar" %>

<% if @user && @user.errors.any? %>
  <p class="errors">
    <%= @user.errors.full_messages.map{|m|m}.join("<br>").html_safe %>
  </p>
<% end %>

<h1>Fields</h1>

<p class="info">
  Which info do you want to collect for each contact? There are a few suggestions on the left to get you started. To use a suggestion, click on it.
</p>

<%= form_for current_user, url: fields_path do |f| %>
  <table id="fields">
    <thead>
      <th style="width: 60%; ">Title</th>
      <th>Data Type</th>
      <th></th>
    </thead>
  
    <tbody>
    	<%= f.fields_for :fields do |field| %>
        <tr>
          <td>
            <%= field.text_field :title, class: "title full_width" %>
            <%= field.hidden_field :permalink, class: "permalink" %>
          </td>
          <td class="center"><%= field.select :data_type, options_for_select([["Text", "string"], ["Number", "integer"], ["Yes/No", "boolean"], ["Date", "datetime"]], field.object.try(:data_type)), {}, class: "data_type" %></td>
          <td>
        		<%= field.hidden_field :_destroy %>
          	<%= link_to "", '#', class: "icon-trash remove_fields", data: { confirm: "Are you sure you want to delete this field?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <td></td>
      <td class="center"><%= link_to_add_fields "Add Field", f, :fields %></td>
      <td></td>
    </tfoot>
  </table>
  
  <%= f.hidden_field :upload, value: true %>
  
  <br><br>
  
  <%= f.submit "Save Fields#{" and Continue to Upload File" if current_user.has_pending_import?}", class: "blue button" %>

<% end %>