<h1>Fields</h1>

<% suggested_fields.each do |title, permalink, data_type| %>
  <% unless @fields.pluck(:permalink).include? permalink %>
    <%= link_to title, "#", class: "add_suggested_field", data: { title: title, data_type: data_type, permalink: permalink } %>
  <% end %>
<% end %>

<%= form_for current_user, url: fields_path do |f| %>

  <table id="fields">
    <thead>
      <th>Title</th>
      <th>Permalink</th>
      <th>Data Type</th>
      <th></th>
    </thead>
  
    <tbody>
    	<%= f.fields_for :fields do |builder| %>
        <%= render "edit_fields", f: builder %>
      <% end %>
    </tbody>
    
    <tfoot>
      <td><%= link_to_add_fields "Add Field", f, :fields %></td>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>
  </table>
  
  <%= f.submit "Save Fields" %>

<% end %>