<!DOCTYPE html>
<html>
<head>
  <title>Touchbase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>_<%= action_name %>" class="application">
  
  <div id="loading"></div>
  
  <%= render "nav" %>

  <div id="yield" class="container">
    <%= yield %>
  </div>

</body>
</html>