<!DOCTYPE html>
<html>
<head>
  <title>Touchbase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% unless @subscription_notice || @no_signin %>
    <% if request.path == new_user_session_path %>
      <%= link_to "Sign Up", root_path, class: "sign_in" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "sign_in" %>
    <% end %>
  <% end %>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
