<!DOCTYPE html>
<html>
<head>
  <title>Touchbase</title>
  <%= stylesheet_link_tag    "public", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "public", "data-turbolinks-track" => true %>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>_<%= action_name %>" class="unbranded">
  
  <div id="loading"></div>
  
  <div id="topbar">
    <div class="container">
      <h1 class="center"><%= yield :title %></h1>
      <div class="clear"></div>
    </div>
  </div>
  
  <div id="yield" class="container">
    <%= yield %>
  </div>

</body>
</html>
