<!DOCTYPE html>
<html>
<head>
  <title><%= @website.title %></title>
  <%= stylesheet_link_tag    "website", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "website", "data-turbolinks-track" => true %>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= @page.permalink %> <%= "user-signed-in" if user_signed_in? %>">
	
<%= render "editor" if user_signed_in? %>
	
<%=

	Liquid::Template.parse(@page.layout.body).render({
		"primary" => "rgb(151, 10, 129)",
		"secondary" => "rgb(36, 116, 179)",
		"logo" => "/themes/shared/logo.png",
		"cta" => "/themes/shared/miniban.png",
		"nav" => content_tag("ol", class: "nav") { render @website.pages.roots },
		"subnav" => content_tag("ol", class: "nav", data: { page_id: @page.id }) { @page.siblings.any? && !@page.root? ? render(@page.siblings) : render(@page.children) },
		"title" => @page.title,
		"yield" => yield
	}, :filters => [LiquidFilters]).html_safe

%>
	
</body>
</html>
