<% can_edit = user_signed_in? && (@website.users.include?(current_user) || current_user.admin?) %>
<!DOCTYPE html>
<html>
<head>
  <title><%= @website.title %> - <%= @page.title %></title>
  <%= stylesheet_link_tag    "website", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "website", "data-turbolinks-track" => true %>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= @page.permalink %><%= " user-signed-in" if can_edit %>"<%= " data-page_id=\"#{@page.id}\"".html_safe if @page && can_edit %><%= " data-save_path=\"#{website_save_path(@website)}\"".html_safe if can_edit %> data-path="<%= @path %>">

<%= render "editor" if can_edit %>
	
<%=
	
	case @page.permalink
	when "signin"
		@yield = render("sessions")
	when "sitemap"
		@yield = render("sitemap")
	else
		@yield = ""
	end

	Liquid::Template.parse(@page.layout.body).render({
		"primary" => "rgb(184, 48, 48)",
		"secondary" => "rgb(58, 122, 125)",
		"logo" => "/themes/shared/logo.png",
		"cta" => "/themes/shared/miniban.png",
		"nav" => content_tag("ol", class: "nav") { render @website.pages.roots.visible },
		"subnav" => content_tag("ol", class: "nav", data: { page_id: @page.id }) { @page.siblings.visible.any? && !@page.root? ? render(@page.siblings.visible) : render(@page.children.visible) },
		"title" => @page.title,
		"sign_inout" => user_signed_in? ? destroy_user_session_path : "#{root_path}signin",
		"yield" => @yield
	}, :filters => [LiquidFilters]).html_safe

%>
	
</body>
</html>
